.home {
  text-align: left !important;
  padding-left: 10%;
  color: white;
  margin-left: 5%;
}

.Name {
  margin-top: 15%;
  margin-bottom: 1%;
}

.Role {
  margin-top: 1%;

  margin-bottom: 1%;
}
.Resume {
  margin-top: 1%;
}
